*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
  }
.formsection {
    width: 450px;
    height: 550px;
    position: relative;
    margin: 10% auto;
    background-color: white;
    padding: 15px;
}
.navigation {
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
}
.navigation a {
    float:left;
    display: block;
    color: blanchedalmond;
    text-align: center;
    padding: 20px 70px;
    text-decoration: blueviolet;
}
.navigation a:hover {
    background-color: cornsilk;
    color: black;
}
.details input{
    width: 100%;
    padding: 5px 10px
}
.Submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: blanchedalmond;
    background-color: rgb(37, 37, 37);
}
div.formsection {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.social {
    display:flex;
    justify-content: space-evenly;
    border-radius: 50%;
}
@media screen and (max-width: 1920px) {
    body {
        background-color:cornsilk;
        }
}
    @media screen and (max-width: 1100px) {
        body {
            background-color:khaki;
        }
}
    @media screen and (max-width: 600px) {
        body {
            background-color:lavender;
        }
} 




